<div class="container">
  <h2>Crime Table</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Category</th>
        <th>Arrest Count</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let record of crimeData | slice:0:5'>
        <td>{{record.Category}}</td>
        <td>{{record.arrest_count}}</td>
      </tr>
      <ng-container *ngIf="showMore">
        <tr *ngFor='let record of crimeData '>
          <td>{{record.Category}}</td>
          <td>{{record.arrest_count}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <button (click)="showMore = true">Show more</button>
</div>